.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.vs/*
Notes_about_PythonEnvironments.md
# Local History for Visual Studio Code
.history/
